<!-- <div class="pt-5 mt5" style="margin-top: 200px">
    <div class="slider-container"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()">
        <div class="slider-wrapper" [style.transform]="'translateX(' + currentOffset + 'px)'">
          <div class="slider-item" *ngFor="let item of items">
            <div class="row">
                <div class="col-6">ad</div>
                <div class="col-6">12</div>
            </div>
            <h1>Heading</h1>
            <p>{{ item.caption }}</p>
          </div>
        </div>
        <button class="slider-btn prev" (click)="prevSlide()">&#10094;</button>
        <button class="slider-btn next" (click)="nextSlide()">&#10095;</button>
      </div>
      
</div> -->
