.khula-light {
    font-family: "Khula", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .khula-regular {
    font-family: "Khula", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .khula-semibold {
    font-family: "Khula", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .khula-bold {
    font-family: "Khula", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .khula-extrabold {
    font-family: "Khula", serif;
    font-weight: 800;
    font-style: normal;
  }
  